@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
:root {
  --userMessageColor: #000000dd;
  --backgroundColor: #ffffff;
  --guestMessageColor: #392061;
}
h1 {
  font-size: 32px;
  font-weight: 800;
  letter-spacing: 0.022em;
}
input {
  outline: none !important;
}
/* fieldset {
  border-color: white !important;
} */
body {
  font-family: "Roboto", sans-serif;
  background-color: var(--backgroundColor) !important;
}
.App {
  text-align: center;
  max-height: 100vh;
}
.MuiLink-underlineHover {
  cursor: pointer;
}
