@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
:root {
  /* --userMessageColor: #e2c044; */
  /* --userMessageColor: #9fb8ad; */
  /* --userMessageColor: #e6e8e6; */
  --userMessageColor: #2e0f14;
  /* --backgroundColor: #1a1b25; */
  /* --backgroundColor: #1e2019; */
  /* --backgroundColor: #3f403f; */
  --backgroundColor: #fffffa;
  --guestMessageColor: #392061;
}
body {
  font-family: "Roboto", sans-serif;
  /* background: url("https://cdn.wallpapersafari.com/60/70/AB9phC.jpg");
  background: url("https://cdn.wallpapersafari.com/80/71/MJzGIn.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
  /* height: 100%; */
  /* background-color: #bc2429 !important; */
  /* background-color: #002366 !important; */
  background-color: var(--backgroundColor) !important;
}
.App {
  text-align: center;
  /* overflow: hidden; */
  max-height: 100vh;
}
.MuiLink-underlineHover {
  cursor: pointer;
}
