.chat__masonrygrid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
}
.chat__masonrygrid__column {
  margin: 10px;
  background-clip: padding-box;
}
.chat__welcome {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center !important;
  width: 100%;
  position: absolute;
  background-color: var(--userMessageColor);
  color: #fffffa !important;
}
.chat__welcomeText {
  padding-left: 20px;
}

.chat__form {
  padding: 2px;
  padding-left: 15px !important;
  margin: 0px !important;
  position: fixed;
  margin-left: -10px !important;
  width: 100%;
  bottom: 0;
  z-index: 1;
  color: #fffffa !important;
  border-radius: 1.1em;
  background-color: var(--userMessageColor);
}
.chat__chat {
  padding-top: 60px;
  padding-bottom: 40px;
}
.MuiInputBase-root {
  color: #fffffa !important;
}
.chat__formControl {
  display: flex !important;
  flex-direction: row !important;
}
.chat__input {
  flex: 1 !important;
  margin: 8px !important;
}
.MuiIconButton-root.Mui-disabled {
  color: #ffffff22 !important;
  background-color: transparent;
}
.MuiIconButton-colorPrimary {
  color: #fffffa !important;
}
.chat__iconButton {
  flex: 0 !important;
  margin-right: 20px !important;
}
.chat__signout__icon {
  height: min-content !important;
  padding: 0px !important;
}
.chat__signout__text {
  opacity: 0;
  overflow: hidden;
  max-width: 0;
  position: relative;
  white-space: nowrap;
  transition: max-width 0.9s ease-in, opacity 0.6s ease-in 0.2s;
}
.chat__signout:hover .chat__signout__text {
  opacity: 1;
  max-width: 250px;
}
.chat__signout {
  max-height: 28px;
  align-items: center;
  margin-left: auto !important;
  margin-right: 20px !important;
  display: flex;
  color: var(--userMessageColor) !important;
  text-decoration-line: none !important;
  background: var(--backgroundColor) !important;
  border-radius: 1.35em !important;
  padding: 8px !important;
  font-weight: 450 !important;
}
