/* .chat__main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(1fr, 3);
  gap: 0px 0px;
  grid-template-areas:
    "."
    "."
    ".";
} */

.chat__masonrygrid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  /* margin-left: -30px; */
  width: auto;
}
.chat__masonrygrid__column {
  margin-left: 10px;
  /* padding-left: 30px; */
  background-clip: padding-box;
}
/* Style your items */
/* .my-masonry-grid_column > div {
  background: grey;
  margin-bottom: 30px;
} */

.chat__welcome {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center !important;
  width: 100%;
  position: absolute;
  background-color: var(--userMessageColor);
  /* color: #113654 !important; */
  color: #fffffa !important;
}
.chat__form {
  display: none;
  padding: 5px;
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 1;
  color: #fffffa !important;
  background-color: var(--userMessageColor);
}
.chat__chat {
  padding-top: 90px;
  padding-bottom: 90px;
  /* max-height: 90vh; */
  /* min-height: 130px; */
  /* height: auto !important; */
  /* overflow-y: scroll; */
}
.MuiInputBase-root {
  color: #fffffa !important;
}
.chat__formControl {
  display: flex !important;
  flex-direction: row !important;
}
.chat__input {
  flex: 1 !important;
  margin: 15px !important;
}
.MuiIconButton-root.Mui-disabled {
  color: rgba(0, 0, 0, 0.26) !important;
  background-color: transparent;
}
.MuiIconButton-colorPrimary {
  color: #fffffa !important;
}
.chat__iconButton {
  flex: 0 !important;
  margin-right: 20px !important;
}
.chat__signout {
  margin-left: auto !important;
  margin-right: 10px !important;
  color: hsl(350, 51%, 12%) !important;
  text-decoration-line: none !important;
  background: var(--backgroundColor) !important;
  border-radius: 1.35em !important;
  padding: 8px !important;
  font-weight: 450 !important;
}
/* .chat__FlipMove {
  margin-bottom: 80px;
} */
