.chat__masonrygrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 3rem 2.5rem;
  /* margin: 0 auto; */
  /* display: flex; */
  /* flex-direction: column; */
  /* display: flex; */
  /* width: auto; */
}
.chat__grid__item {
  width: 100%;
  margin: 0 auto;
}
/* 
@media (max-width: 986px) {
  .chat__masonrygrid {
    column-count: 3;
  }
}
@media (max-width: 786px) {
  .chat__masonrygrid {
    column-count: 2;
  }
}
@media (max-width: 524px) {
  .chat__masonrygrid {
    column-count: 1;
  }
} */

.chat__chat {
  background: var(--chatBackground);
  padding: 120px 20px;
  min-height: 85vh;
}
