footer {
  display: flex;
  bottom: 0;
  z-index: 1;
  width: 100%;
  position: fixed;
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.5);
}
.footer__form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
  margin: 0px;
  width: 100%;
  color: #fffffa;
  background-color: var(--primaryGreen);
  background-image: linear-gradient(
    90deg,
    var(--primaryGreen),
    var(--primaryGreen),
    hsl(90, 100%, 20%),
    hsl(90, 100%, 10%)
  );
}

.footer__input {
  min-height: 25px;
  height: auto;
  max-height: 50vh;
  width: 80%;
  max-width: 684px;
  resize: none;
  overflow-y: auto;

  padding: 8px 9px;
  margin: 8px 0px;
  margin-right: 0;
  font: inherit;
  border-radius: 3px;
  background-color: #fefeff;
  color: hsl(90, 100%, 10%);
  box-shadow: 0px 10px 20px rgba(30, 30, 30, 0.4);
  /* outline-color: hsl(90, 100%, 40%); */
}
.footer__input:focus {
  outline-color: hsl(90, 100%, 40%);
}
.footer__input:empty::before {
  content: attr(placeholder);
  color: #858585;
}
.footer__input:empty:focus:before {
  content: "";
}

.footer__iconButton {
  display: flex;
  margin-left: 10px;
  padding: 10px;
  border: 0;
  max-width: 60px;
  max-height: 60px;
  /* width: calc(36px + 0.3vw); */
  /* height: calc(36px + 0.3vw); */
  box-shadow: 0px 10px 20px rgba(30, 30, 30, 0.4);
  border-radius: 50%;
}
.footer__iconButton:not(:disabled) {
  background-color: var(--primaryGreen);
  color: #fff;
}
.footer__iconButton:not(:disabled):hover {
  opacity: 0.8;
}
.footer__iconButton:not(:disabled):focus {
  opacity: 0.7;
  box-shadow: 0px 0px 5px #ffffff4d;

  outline-color: var(--primaryGreen);
}
