.message {
  padding: 10px;
  margin: 5px 10px;
  text-align: left;
  align-items: center !important;
}
.message__blob * {
  color: var(--userMessageColor) !important;
}
.message__user {
  text-align: left !important;
}

.message__user > .message__blob > .message__blobSvg {
  background-color: #f9f9f9;
  border-radius: 1.2em;
}
.message__options {
  float: left;
  opacity: 0;
  margin-bottom: 10px;
  transition: all 50ms linear;
}
.message__text {
  font-size: 18px !important;
  line-height: 1.3em !important ;
  font-weight: 400 !important;
  color: #ffffff !important;
}
.message__userText {
  color: #113654 !important;
}
.message__username {
  margin: 0px 1px;
  padding: 3px;
  font-size: 14px;
  font-weight: 500;
  color: #c6c5b9;
  text-align: right;
}

.message__userCard {
  border-radius: 1.2em !important;
  background-color: var(--userMessageColor) !important;
  width: fit-content;
}

.message__guestCard {
  width: fit-content;
  border-radius: 1.2em !important;
  background-color: var(--guestMessageColor) !important;
}
.message__delete > span > svg {
  color: #000000bb !important;
}

.message__delete,
.message__edit {
  padding: 2px !important;
}
.message__user:hover > .message__options {
  opacity: 0.8;
}
.message__iconButton {
  flex: 0 !important;
  margin-right: 20px !important;
}
foreignObject {
  padding: 10px;
}
.message__blobText {
  text-anchor: middle;
  text-align: center;
  white-space: pre-wrap !important;
  z-index: 2;
  display: flex;
  position: relative;
  top: 25%;
  justify-content: center;

  animation: textShadow 1.2s infinite ease-in-out paused,
    floating 3s infinite ease-in-out running;
  font-size: 13px !important;
}
.message__blobSvg:hover .message__blobText {
  animation-play-state: running, paused;
}

@keyframes floating {
  0% {
    transform: translateY(50%);
  }
  50% {
    transform: translateY(20%);
  }
  100% {
    transform: translateY(50%);
  }
}

@keyframes textShadow {
  0% {
    transform: translateY(50%);
    text-shadow: 0 0 0 #0c2ffb, 0 0 0 #2cfcfd, 0 0 0 #fb203b, 0 0 0 #fefc4b;
  }

  25% {
    transform: translateY(42%);
    text-shadow: 0 0.125em 0 #0c2ffb, 0 0.25em 0 #2cfcfd, 0 -0.125em 0 #fb203b,
      0 -0.25em 0 #fefc4b;
  }

  50% {
    transform: translateY(40%);
    text-shadow: 0 -0.0625em 0 #0c2ffb, 0 -0.125em 0 #2cfcfd,
      0 0.0625em 0 #fb203b, 0 0.125em 0 #fefc4b;
  }

  75% {
    transform: translateY(42%);
    text-shadow: 0 0.03125em 0 #0c2ffb, 0 0.0625em 0 #2cfcfd,
      0 -0.03125em 0 #fb203b, 0 -0.0625em 0 #fefc4b;
  }

  100% {
    transform: translateY(50%);
    text-shadow: 0 0 0 #0c2ffb, 0 0 0 #2cfcfd, 0 0 0 #fb203b, 0 0 0 #fefc4b;
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }
}
