/* .signin__container::before {
  content: "";
  width: 100%;
  height: 200%;
  border-radius: 0px;
  background: #ff23e0;
} */
.signin {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
.signin__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  justify-content: center;
  max-width: 472px;
  width: 100%;
  /* min-width: 384px; */
  background: var(--primaryGreen);
  color: #fff;
  overflow-y: auto;
  border-radius: 1.35em;
  padding: 30px 10px;
  box-shadow: 0px 0px 25px var(--primaryGreen);
}

.signin__icon__container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 5px;
  max-width: 40px;
  min-height: 40px;
  border-radius: 50%;
  background-color: hsl(51, 100%, 50%);
  color: #2d2d2d;
}

.signin__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  /* padding-top: 1.4rem; */
}

.signin__email {
  line-height: 1.4rem;
  padding: 6px 8px;
  border-radius: 3px;
  border-width: 0px;
  width: 100%;
  box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.4);
  font-size: 90%;
  /* font-family: inherit; */
}
.signin__email:focus {
  box-shadow: 0px 0px 5px 3px rgba(205, 255, 205, 0.5);
  outline-color: hsl(90, 100%, 40%);
}

.signin__button {
  min-height: 40px;
  width: 90%;
  font-size: 80%;
  /* max-width: 200px; */
  /* font-family: inherit; */
  margin-block-start: 20px;
  padding: 0.8rem;
  border-width: 0px;
  border-radius: 3px;
  background-color: hsl(50, 100%, 50%);
  text-transform: uppercase;
  box-shadow: 0px 4px 20px 0px rgba(20, 20, 20, 0.4);
  transition: border-radius 800ms linear;
}
.signin__button:hover {
  /* transform: translateY(2px); */
  background-color: hsl(50, 100%, 47%);
  opacity: 0.9;
  box-shadow: 0px 4px 24px rgba(20, 20, 20, 0.3);
}
.signin__button:focus {
  outline-color: var(--primaryGreen);
  outline-offset: 2px;
  transform: translateY(2px);
  opacity: 0.8;
  background-color: hsl(50, 100%, 44%);
  box-shadow: 0px 4px 22px rgba(20, 20, 20, 0.45);
}

.copyright {
  font-size: 80%;
  margin-top: 45px;
  margin-bottom: 0px;
}

.error {
  display: flex;
  position: relative;
  align-items: center;
  background-color: rgb(210, 50, 0);
  min-height: 18px;
  margin: 15px auto;
  padding: 15px 0px;
  width: 90%;
  min-width: 30%;
  box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
}

.error__text {
  display: block;
  text-align: center;
  text-transform: capitalize;
  font-weight: 400;
  margin-right: 24px;
  width: 100%;
  font-size: 95%;
}

.error__icon {
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
}

@media only screen and (max-width: 532px) {
  .signin__container {
    /* width: 95%; */
    padding: 30px 0px;
  }
  .error {
    margin: 10px auto;
    /* margin-left: -8px; */
    width: 90%;
  }
}
